ul {
    list-style: none;
}

h1 {
    text-align: center;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    display: inline-block;
    vertical-align: middle;
}

.task-done .input-group-addon,
.task-done .item__name > span {
    background: #8b8b8b;
    text-decoration: line-through;
}

.count {
    display: block;
}

.hide__element {
    display: none;
}

.display-list {
    margin: 0 auto;
}

.todo {
    margin: 0 auto;
}

.todo__center {
    width: 67%;
    margin: 0 auto;
}

.todo__center-buttons {
    width: 80%;
    margin: 0 auto;
}

#todo__input {
    position: relative;
}

.alert {
    position: absolute;
    top: -50px;
    left: 0;
}